@import "reset.css";

html {
  background: #fff url(../images/purty_wood.png);
}

html, body {
  width: 100%;
  height: 100%;
}

/* Fonts */

/* Normal type */
body, #users li, #entry input[type=text], a#submit, #chat-log {
  font-family: Helvetica, Arial, sans-serif;
}

/* Specia Type */
footer p.credits, #login h1 {
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
}

/** HEADER */

body > header {
  background: #000 url(../images/header-bg.png) repeat-x;
  
  -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0;
  box-shadow: rgba(255,255,255,0.1) 0 1px 0;
  position: fixed;
  
  top: 0;
  right: 0;
  left: 0;
  
  height: 23px;
  
  display: block;
}
body > header h1 {
  font-size:12px;
  color:#fff;
  text-transform:uppercase;
  line-height: 20px;
  margin-left: 10px;
  font-weight:300;
  text-shadow: 0 1px 2px #000;
}
body > header img {
  position: relative;
  top: 3px;
  left: 6px;
}



/** CHAT LOG */
#frame {
  display: block;
  position: fixed;

  top: 45px;
  right: 200px;
  bottom: 110px;
  left: 20px;

  
}

#chat-log {
  position: absolute;
  left: 0.5%;
  bottom: 0.5%;
  width: 99%;
  overflow-y: scroll;
  max-height: 99%;
  color: #999;
}

#chat-log div.chat-msg {
  margin-right: 10px;
  padding: 6px 70px 6px 10px;
  font-size: 10pt;
  -webkit-box-shadow: 0 9px 3px -7px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 9px 3px -7px rgba(0,0,0,0.4);
  box-shadow: 0 9px 3px -7px rgba(0,0,0,0.4);
  margin-bottom: 15px;
  position: relative;
  background:#fff;
  float:right;
  width:50%;
}

#chat-log div.chat-system-msg {
  text-align: center;
  font-style: italic;
  color: #999;
  width:70%;
  border-radius:4px;
  float:none;
  margin: 0 auto 15px;
}


#chat-log div.chat-msg .chat-label-wrap {
  width:20%;
  float:left;
}
#chat-log div.chat-msg .chat-text {
  float:left;

}
.chat-time {
  display:block;
  font-size:10px;
  color:#aaa;
}

#chat-log div.chat-msg .chat-nick {
  display:block;
  color: #64b8e0;
  font-weight:bold;
  margin-right: 10px;
  margin-bottom: 2px;
}


#chat-log div.chat-system-msg {
  box-shadow:none;
  box-shadow:0 0 4px rgba(0,0,0,0.3) inset;
  background-color:rgba(0,0,0,0.1);
  color:#fff !important;
  text-shadow:0 1px 1px rgba(0,0,0,0.4);
}
#chat-log div.chat-system-msg .chat-nick {
  margin-right: 4px;
  font-weight: bold;
   color:#fff !important;
}

#chat-log div.chat-system-msg .chat-nick:after {
  content: "";
}


#chat-log div.chat-msg.me{
  background: #fefefe;
  float:left;
  width:50%;
}
#chat-log div.chat-system-msg .chat-text{
  float:none;
  display: inline;
  margin-right:5px;
}
#chat-log div.chat-system-msg .chat-time{
  float:none;
  display: inline;
   color:#fff !important;
}
#chat-log div.chat-system-msg .chat-nick{
  float:none;
  display: inline;
}

/** USER LIST */

#users {
  position: fixed;
  width: 155px;
  top: 23px;
  right: 25px;
  background:#f7f7f7;
  padding-top:10px;
  height:100%;
  box-shadow:0 0 5px rgba(0,0,0,0.4);
  border-top: 1px solid white;
  text-shadow:0 1px 0 #fff;
}

#users li {
  color: #333;
  font-size: 12px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  border-bottom:1px solid rgba(0,0,0,0.1);
  border-top:1px solid rgba(255,255,255,0.9);
  padding:5px;
}
#users li  i {
  margin-right:3px;
}
#users li:hover {

}




/** ENTRY FORM */

#entry {
  border-top: solid 1px rgba(0,0,0,0.1);
  border-bottom: solid 1px #646464;
  box-shadow:0 -5px 3px -4px rgba(0,0,0,0.1);
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
background: -moz-linear-gradient(top, rgba(255,255,255,0.31) 0%, rgba(255,255,255,0) 13%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.31)), color-stop(13%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.31) 0%,rgba(255,255,255,0) 13%);
background: -o-linear-gradient(top, rgba(255,255,255,0.31) 0%,rgba(255,255,255,0) 13%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.31) 0%,rgba(255,255,255,0) 13%);
background: linear-gradient(top, rgba(255,255,255,0.31) 0%,rgba(255,255,255,0) 13%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fffffff', endColorstr='#00ffffff',GradientType=0 );
}

#entry p {
  position: fixed;
  height: 20px;
  left: 27px;
  right: 270px;

  width: auto;
  bottom: 22px;
  
}

#entry input[type=text]{
  background: transparent;
  padding: 0;
  outline: none;
  border: none;
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
  text-shadow: #000 0 1px 0;
  font-size: 11pt;
}

#entry input[type=submit]{
  display: none;
}

#entry a#submit {
  position: absolute;
  right: -6px;
  top: -5px;
  text-decoration:none;
}

#entry a#submit:hover {
  text-decoration:none;
} 

#entry fieldset {
  position: absolute;
  left: 20px;
  top: 14px;
  height: 17px;
  right: 200px;
  border-width: 7px 8px 8px 8px;
  -webkit-border-image: url(../images/inset-border-l.png) 7 8 8 8 repeat repeat;
  -moz-border-image: url(../images/inset-border-l.png) 7 8 8 8 repeat repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/** FOOTER */

footer {
  height: 26px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/footer.png) repeat-x;
}

footer p.credits {
  text-transform: uppercase;
  height: 26px;
  line-height: 26px;
  padding: 0 15px;
  font-size: 10px;
  text-align: right;
  color: #7b7b7b;
  text-shadow: #000 0 1px 0, #000 0 0 1px;
}

footer p.credits a {
  color: #aaa;
  text-decoration: none;
}

footer p.credits a:hover {
  color: #ccc;
}

span.pipe {
  margin: 0 3px;
}


/** LOGIN FORM */

#login {
  position: fixed;
  height: 70px;
  left: 0;
  right: 0;
  margin-top: -75px;
  top: 50%;
  z-index: 200;
  background: #a7a7a7 url(../images/metal.jpg) 0 -3px repeat-x;
  border-top: solid 1px #bbb;
  border-bottom: solid 1px #666;
  -webkit-box-shadow: rgba(0,0,0,0.4) 0 2px 4px;
}

#login h1 {
  text-transform: uppercase;
  color: #333;
  text-align: center;
  padding: 4px 0 0 0;
  font-size: 16px;
  letter-spacing: 1px;
  text-shadow: rgba(255,255,255,0.3) 0 1px 0;
}

#login p {
  position: absolute;
  content: "";
  display: block;
  height: 35px;
  line-height: 35px;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
  background: url(../images/footer.png) repeat-x;
}

#login input {
  width: 150px;
  margin-left: 5px;
  background: #fff;
  border: none;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#login.error {
  -webkit-box-shadow: red 0 0 100px;
  -moz-box-shadow: red 0 0 50px;
  box-shadow: red 0 0 100px;
}

#login p label {
    color: #ddd;
    font-size: 12px;
    font-style: italic;
    text-shadow: #000 0 1px 0;
}

body.login header:after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../images/background.png);
  opacity: 0.8;
  z-index: 100;
}

body.login header:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0.8;
  z-index: 101;
}

body #login { display: none;}
body.login #login { display: block;}


/* CUSOMIZATION FOR HW */
#channel-list {
  margin-top:28px;
  margin-left:10px;
  font-size:11px;
  font-weight:bold;

}
#channel-list ul li {
  list-style:none;
  display:inline-block;
  margin-right:10px;
  color:#fff;
  background-color:rgba(40, 152, 204, 0.65);
  border-radius:20px;
  padding:0px 10px;
  text-shadow:0 1px 1px rgba(0,0,0,0.4);
}


::-webkit-scrollbar{
  display:none;
}

@-webkit-keyframes msg {
  from {
    bottom:-100px;
  }
  to {
    bottom:0;
  }

}

.ani-msg {
  -webkit-animation: msg .2s 1 ease-in;
}
.aniwrap {overflow: hidden;}
